/* RESETS */

/* RESETS */

/* RESETS */

:root {
    --light-gray: rgba(237, 234, 225, 0.5);
    --black: rgb(0, 0, 0);
    --orange: rgb( 226, 123, 8);
    --orange-alt: rgb(255, 190, 72);
    --green: rgb(68, 101, 22);
    --blue-pale: rgb(117, 194, 243);
    --highlight1: rgb(125, 252, 78);
    --highlight2: rgb(116, 250, 197);
    --mat1: rgba(53, 121, 61, 0.44);
    --mat2: rgba(64, 146, 106, 0.44);
    --mat3: rgba(53, 121, 102, 0.44);
    --text-for-mat3: rgb(116, 250, 197);
    --mat4: rgba(59, 121, 53, 0.3);
    --mat5: rgba(53, 121, 88, 0.3);
    --mat5solid: rgb(53, 121, 88);
    --text-for-mat5: rgb(116 250 162);
    --mat6: var(--mat1);
    --mat7: yellow;
    --mat8: yellow;
    --device1: var(--mat4);
    --device2: var(--mat5);
    --link1: #ffa;
    --white: #fff;
    --like-gold: rgb(208, 208, 21);
}

/* BOUNDARIES OF DIVS AND TEXTS */

/* BOUNDARIES OF DIVS AND TEXTS */

/* BOUNDARIES OF DIVS AND TEXTS */

.container {
    max-width: 1300px;
}

article.elShadow.block {
    max-width: 1100px;
    margin-bottom: 7rem;
    border-radius: 0.5rem;
}

.block {
    margin: 1rem;
    padding: 2rem;
}

.elShadow {
    border: 0.1rem hidden;
    border-radius: 0.3rem;
}

.list-group-item {
    border: 0 !important;
    margin: 0px;
    padding: 0.3rem 0rem;
    text-align: center;
}

.special-bullet li:before {
    content: '\7e';
    margin-right: 15px;
}

div.card {
    margin-bottom: 8rem;
}

div.stripe-under+div.stripe-over {
    width: 100%;
    height: 20px;
}

.back {
    border-radius: 21px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

div.table-holder {
    border: 0.1rem solid #ccc;
    margin: 3rem;
}

div.table-head p {
    display: inline-block;
}

div.social i.fab {
    padding: 0.5rem 0.8rem 0 0.8rem;
}

address#contact h2 {
    display: inline-block;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.flex-equal>* {
    -ms-flex: 1;
    flex: 1;
}

#evan-headshot {
    width: 125px;
    height: 106px;
    border-radius: 0.5rem;
    margin: auto 1rem auto 1rem;
}

img.article-image {
    max-height: 8rem;
}

.overflow-hidden {
    overflow: hidden;
}

.bd-placeholder-img {
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        flex: 1;
    }
}

.very-centered {
    display: flex;
    /*(1)VERT*/
    flex-direction: row;
    /*(1)VERT*/
    align-items: center;
    /*(1)VERT*/
    justify-content: center;
    /*(2)HORIZ*/
}

.btn-group>.btn:first-child {
    margin-left: 50%;
    margin-right: 0;
}

.button-holder {
    display: flex;
    /*(1)VERT*/
    flex-direction: row;
    /*(1)VERT*/
    justify-content: right;
    /*(2)HORIZ*/
}

div.button-holder a.btn {
    max-width: 40%;
    white-space: normal;
}

.navspacer {
    padding-left: 3rem;
  }

/*  COLORS OF TEXT*/

/*  COLORS OF TEXT*/

/*  COLORS OF TEXT*/

/* COLORS AND GRAPHIC OF BACKGROUNDS */

/* COLORS AND GRAPHIC OF BACKGROUNDS */

/* COLORS AND GRAPHIC OF BACKGROUNDS */

body {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
    /* SVG from Philip Rogers */
    /* https://philiprogers.com/svgpatterns/#whitecarbon */
}

.block {
    background-color: var(--lightGray);
}

* {
    z-index: 1;
}

article.elShadow.block {
    background-color: #fff;
}

.elShadow {
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.link1 {
    color: var(--like-gold);
}

a.link1:hover {
    color: rgb(104, 104, 21);
}

.card-icon {
    color: #fff;
}

.list-group-item {
    background-color: transparent;
}

nav div a.brand.font-chunky {
    color: #fff;
}

.stripe-restaurant {
    background-color: #61122f;
    /* deep reddish */
}

.stripe-pikl {
    background-color: #0054af;
    /* pikL blue */
}

.site-header, footer {
    background-color: var(--mat5solid);
    opacity: .75;
    color: var(--white);
}

.site-header a {
    color: var(--link1);
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #ddd;
}

div.social i.fab {
    color: var(--like-gold);
}

div.stripe-under {
    background-color: var(--mat4);
}

/* TEXTURE & SIZINGS OF TEXT but not coloring, not position or justify */

/* TEXTURE & SIZINGS OF TEXT but not coloring, not position or justify */

/* TEXTURE & SIZINGS OF TEXT but not coloring, not position or justify */

* {
    font-family: 'Open Sans', sans-serif;
}

h2 a {
    font-family: "Wire One", monospace;
}

ul li {
    font-size: 1.6rem;
}

footer ul li {
    font-size: 1rem;
}

nav div a, nav div p {
    font-size: 1.45rem;
}

a.link1 {
    text-decoration: none;
}

a.link1:hover {
    text-decoration: none;
    font-style: italic;
    transition: ease-in-out color .15s;
}

.card-icon {
    font-size: 7rem;
}

.special-bullet {
    /* list-style: none; */
    list-style-type: none;
}

.font-funky {
    font-family: "Wire One", monospace;
}

.font-big {
    font-size: 4rem;
}

.font-big-big {
    font-size: 6rem;
}

.font-chunky {
    font-family: sans-serif;
    font-weight: 800;
}

.site-header, footer {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a:hover {
    text-decoration: none;
}

div.social i.fab {
    font-size: 2.4rem;
}

div.social i.fab:hover {
    transform: rotate(10deg);
}

address#contact h2 {
    font-size: 1rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
}

td i.fab, td i.fas {
    font-size: 2rem;
}



@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* WHIMSY */

/* WHIMSY */

/* WHIMSY */

.whimsy {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    z-index: -1;
}

.whimsy-inside {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: white;
    border-radius: 5px;
}

.whimsy-left {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: rgba(240, 240, 240, 0.9);
}